@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap);
@font-face {
  font-family: "BebasNeue";
  src: url(../fonts/Bebas-Neue-master/fonts/BebasNeue-Regular.woff) format("woff");
}

:root {
  --gradient1: linear-gradient(91.3deg, rgb(107, 172, 233) 1.5%, rgb(255, 255, 255) 100.3%);
  --gradient2: linear-gradient(174.2deg, rgba(240, 246, 238, 1) 67.4%, rgba(255, 244, 228, 1) 7.1%);
}

body {
  font: 18px/36px "BebasNeue", "Poppins", "Arial Narrow", arial, sans-serif;
  min-height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 95%;
  min-height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.jumbotron {
  color: #0088ff;
  padding-top: 4rem;
  background-color: #ffffff;
  background-image: var(--gradient1);
  background-size: 300%;
  text-align: center;
  animation: gradient-animation 3s infinite alternate;
  font-family: "Fredoka One", cursive;
}

@keyframes gradient-animation {
  0% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

.jumbotron > img {
  width: 30rem;
  -webkit-transform: rotate(15deg) scale(1.4);
  transform: rotate(11deg) scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.jumbotron > img:hover {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
}

.emailaku {
  text-decoration: none;
  color: #0d6efd;
}

.emailaku:hover {
  color: #dc702d;
  text-decoration: underline;
  font-size: 105%;
}

#about {
  background-color: #28132f;
}

.tentangku {
  color: #dc702d;
  margin-top: 0.5rem;
  font-size: 50px;
  font-weight: 1000;
}

.row {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 3rem;
}

.col > p {
  color: #dc702d;
  border: 1px solid rgb(255, 174, 0);
  text-align: justify;
  padding: 1em;
}

#projects {
  background-image: var(--gradient2);
}

.projectku {
  font-family: Poppins;
  color: #2f1a40;
  margin-top: 1rem;
  font-size: 50px;
  font-weight: 1000;
}
.card {
  margin-top: 2rem;
  margin-bottom: 10px;
}

.card a:hover {
  opacity: 1;
  width: 310px;
}

.pekerjaanterkini {
  font-size: 16px;
  text-align: center;
  color: #2f1a40af;
  text-decoration: underline;
}

.contact {
  background-color: #b2e5ff;
}

.kontaksaya {
  margin-top: 1rem;
}

/*********************************
14. Footer
*********************************/

.copyright {
  font-size: 12px;
  font-weight: 500;
  color: #b3b3b3;
  margin-top: 0;
}

h3 {
  text-align: center;
}

.footer_social {
  margin-top: 2rem;
  font-size: 30px;
  text-align: center;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  position: fixed;
  bottom: 575px;
  right: 30px;
  width: 25px;
  height: 25px;
  border-radius: 30%;
  background-color: coral;
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0.6, 0.2);
}

.top:hover {
  cursor: pointer;
}

.down {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  position: fixed;
  bottom: 545px;
  right: 30px;
  width: 25px;
  height: 25px;
  border-radius: 30%;
  background-color: coral;
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0.6, 0.2);
}

.down:hover {
  cursor: pointer;
}

.audio {
  opacity: 0%;
}
