@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap);
@font-face {
  font-family: "BebasNeue";
  src: url(../fonts/Bebas-Neue-master/fonts/BebasNeue-Regular.woff) format("woff");
}

:root {
  --gradient1: linear-gradient(91.3deg, rgb(107, 172, 233) 1.5%, rgb(255, 255, 255) 100.3%);
  --gradient2: linear-gradient(174.2deg, rgba(240, 246, 238, 1) 67.4%, rgba(255, 244, 228, 1) 7.1%);
}

body {
  font: 18px/36px "BebasNeue", "Poppins", "Arial Narrow", arial, sans-serif;
  min-height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 95%;
  min-height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.jumbotron {
  color: #0088ff;
  padding-top: 4rem;
  background-color: #ffffff;
  background-image: var(--gradient1);
  background-size: 300%;
  text-align: center;
  animation: gradient-animation 3s infinite alternate;
  font-family: "Fredoka One", cursive;
}

@keyframes gradient-animation {
  0% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

.jumbotron > img {
  width: 30rem;
  -webkit-transform: rotate(15deg) scale(1.4);
  transform: rotate(11deg) scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.jumbotron > img:hover {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
}

.emailaku {
  text-decoration: none;
  color: #0d6efd;
}

.emailaku:hover {
  color: #dc702d;
  text-decoration: underline;
  font-size: 105%;
}

#about {
  background-color: #28132f;
}

.tentangku {
  color: #dc702d;
  margin-top: 0.5rem;
  font-size: 50px;
  font-weight: 1000;
}

.row {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 3rem;
}

.col > p {
  color: #dc702d;
  border: 1px solid rgb(255, 174, 0);
  text-align: justify;
  padding: 1em;
}

#projects {
  background-image: var(--gradient2);
}

.projectku {
  font-family: Poppins;
  color: #2f1a40;
  margin-top: 1rem;
  font-size: 50px;
  font-weight: 1000;
}

/* OPEN desain grafis section */
.graphic-design {
  position: relative;
  background-color: #0d6efd;
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.graphic-design::before {
  content: "My";
  position: absolute;
  color: #fff;
  font-size: 5em;
  font-weight: bold;
  font-style: italic;
  top: 20%;
  left: -50%;
  opacity: 0;
  transition: 0.5s;
}

.graphic-design:hover::before {
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 1;
}

.graphic-design::after {
  content: "Work";
  position: absolute;
  color: #fff;
  font-size: 4em;
  font-weight: bold;
  font-style: italic;
  top: 80%;
  left: 100%;
  opacity: 0;
  transition: 0.5s;
}

.graphic-design:hover::after {
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 1;
}

.dg {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transform: translate3d(0, 0, 50px);
  transition: 0.5s;
}
.graphic-design:hover .dg {
  top: 20px;
  opacity: 1;
}

.dg-detail-button {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate3d(-50%, 0, 50px);
  opacity: 0;
  transition: 0.5s;
}

.graphic-design:hover .dg-detail-button {
  opacity: 1;
  bottom: 2%;
}

.card-img-top {
  position: absolute;
  top: 45%;
  left: 53%;
  transform: translate3d(-52%, -50%, 100px);
  max-width: 250px;
  transition: 0.5s;
  rotate: -2deg;
}

.graphic-design:hover .card-img-top {
  transform: translate3d(-50%, -38%, 100px) scale(1.2) rotate(2deg);
}
/* CLOSE desain grafis section */

/* open pop up section Desain */
.modal-content {
  position: relative;
  align-items: center;
  width: 1800px;
  overflow: hidden !important;
  padding: 0px !important;
  margin: 0px;
}

.gambar-desain-konten {
  width: 460px;
  transition: 0.3s;
}

.gambar-desain-konten:hover {
  width: 480px;
}

.gambar-desain-konten::before {
  content: "Content Design";
  position: absolute;
  color: #fff;
  font-size: 3em;
  font-style: italic;
  text-shadow: 3px 3px 4px rgba(0, 7, 37, 0.342);
  bottom: 77%;
  right: -50%;
  opacity: 0;
  transition: 0.5s;
}
.gambar-desain-konten:hover::before {
  right: 44%;
  transform: translate(50%, 0);
  opacity: 0.95;
}

.gambar-desain-produk {
  width: 460px;
  transition: 0.3s;
}

.gambar-desain-produk:hover {
  width: 480px;
}

.gambar-desain-produk::before {
  content: "Product Design";
  position: absolute;
  color: #fff;
  font-size: 3em;
  font-style: italic;
  text-shadow: 3px 3px 4px rgba(0, 7, 37, 0.342);
  bottom: 45%;
  left: -50%;
  opacity: 0;
  transition: 0.5s;
}

.gambar-desain-produk:hover::before {
  left: 17%;
  transform: translate(5%, 0);
  opacity: 1;
}

.gambar-desain-lain {
  width: 460px;
  transition: 0.3s;
}

.gambar-desain-lain:hover {
  width: 480px;
}

.gambar-desain-lain::before {
  content: "Other Design";
  position: absolute;
  color: #fff;
  font-size: 3em;
  font-style: italic;
  text-shadow: 3px 3px 4px rgba(0, 7, 37, 0.342);
  bottom: 13%;
  right: -50%;
  opacity: 0;
  transition: 0.5s;
}
.gambar-desain-lain:hover::before {
  right: 40%;
  transform: translate(50%, 0);
  opacity: 0.95;
}
/* close pop up section Desain */

/* open pop up section Foto */
.modal-content {
  position: relative;
  align-items: center;
  overflow: hidden !important;
  padding: 1px !important;
  margin: 0px;
}

.gambar-foto-produk {
  width: 460px;
  transition: 0.3s;
}

.gambar-foto-produk:hover {
  width: 480px;
}

.gambar-foto-produk::before {
  content: "Product Photography";
  position: absolute;
  color: #fff;
  font-size: 2em;
  font-style: italic;
  text-shadow: 3px 3px 4px rgba(0, 7, 37, 0.342);
  bottom: 80%;
  right: -50%;
  opacity: 0;
  transition: 0.5s;
}
.gambar-foto-produk:hover::before {
  right: 42%;
  transform: translate(50%, 0);
  opacity: 0.95;
}

.gambar-foto-kompani {
  width: 460px;
  transition: 0.3s;
}

.gambar-foto-kompani:hover {
  width: 480px;
}

.gambar-foto-kompani::before {
  content: "Company Profile Photography";
  position: absolute;
  color: #fff;
  font-size: 2em;
  font-style: italic;
  text-shadow: 3px 3px 4px rgba(0, 7, 37, 0.342);
  bottom: 56%;
  left: -50%;
  opacity: 0;
  transition: 0.5s;
}

.gambar-foto-kompani:hover::before {
  left: 16%;
  transform: translate(5%, 0);
  opacity: 1;
}

.gambar-foto-acara {
  width: 460px;
  transition: 0.3s;
}

.gambar-foto-acara:hover {
  width: 480px;
}

.gambar-foto-acara::before {
  content: "Event Documentation";
  position: absolute;
  color: #fff;
  font-size: 2em;
  font-style: italic;
  text-shadow: 3px 3px 4px rgba(0, 7, 37, 0.342);
  bottom: 32%;
  right: -50%;
  opacity: 0;
  transition: 0.5s;
}

.gambar-foto-acara:hover::before {
  right: 42%;
  transform: translate(50%, 0);
  opacity: 0.95;
}

.gambar-foto-keluarga {
  width: 460px;
  transition: 0.3s;
}

.gambar-foto-keluarga:hover {
  width: 480px;
}

.gambar-foto-keluarga::before {
  content: "Wedding & Family Photography";
  position: absolute;
  color: #fff;
  font-size: 2em;
  font-style: italic;
  text-shadow: 3px 3px 4px rgba(0, 7, 37, 0.342);
  bottom: 8%;
  left: -50%;
  opacity: 0;
  transition: 0.5s;
}

.gambar-foto-keluarga:hover::before {
  left: 16%;
  transform: translate(5%, 0);
  opacity: 1;
}

/* close pop up section Foto */

/* open  pop up section Motion */
.modal-content {
  position: relative;
  align-items: center;
  overflow: hidden !important;
  padding: 1px !important;
  margin: 0px;
}

.gambar-motion-full {
  width: 460px;
  transition: 0.3s;
}

.gambar-motion-full:hover {
  width: 480px;
}

.gambar-motion-full::before {
  content: "Motion Full";
  position: absolute;
  color: #fff;
  font-size: 3em;
  font-style: italic;
  text-shadow: 3px 3px 4px rgba(0, 7, 37, 0.342);
  bottom: 63%;
  right: -50%;
  opacity: 0;
  transition: 0.5s;
}
.gambar-motion-full:hover::before {
  right: 38%;
  transform: translate(50%, 0);
  opacity: 1;
}

.gambar-motion-video {
  width: 460px;
  transition: 0.3s;
}

.gambar-motion-video:hover {
  width: 480px;
}

.gambar-motion-video::before {
  content: "Video with Motion";
  position: absolute;
  color: #fff;
  font-size: 3em;
  font-style: italic;
  text-shadow: 3px 3px 4px rgba(0, 7, 37, 0.342);
  bottom: 17%;
  left: -50%;
  opacity: 0;
  transition: 0.5s;
}

.gambar-motion-video:hover::before {
  left: 16%;
  transform: translate(5%, 0);
  opacity: 1;
}
/* close pop up section Motion */

/* .gambar-desain-lain {
  width: 460px;
  transition: 0.3s;
}

.gambar-desain-lain:hover {
  width: 480px;
}

.gambar-desain-lain::before {
  content: "Other Design";
  position: absolute;
  color: #fff;
  font-size: 3em;
  font-style: italic;
  text-shadow: 3px 3px 4px rgba(0, 7, 37, 0.342);
  bottom: 13%;
  right: -50%;
  opacity: 0;
  transition: 0.5s;
}
.gambar-desain-lain:hover::before {
  right: 33%;
  transform: translate(50%, 0);
  opacity: 0.95;
} */
/* close pop up section Foto*/

.card {
  margin-top: 2rem;
  margin-bottom: 10px;
  background-color: #0d6efd;
}

.card a:hover {
  opacity: 1;
  width: 310px;
}

.pekerjaanterkini {
  font-size: 16px;
  text-align: center;
  color: #2f1a40af;
  text-decoration: underline;
}

.contact {
  background-color: #b2e5ff;
}

.kontaksaya {
  margin-top: 1rem;
}

/*********************************
14. Footer
*********************************/

.copyright {
  font-size: 12px;
  font-weight: 500;
  color: #b3b3b3;
  margin-top: 0;
}

h3 {
  text-align: center;
}

.footer_social {
  margin-top: 2rem;
  font-size: 30px;
  text-align: center;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  position: fixed;
  bottom: 575px;
  right: 30px;
  width: 25px;
  height: 25px;
  border-radius: 30%;
  background-color: coral;
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0.6, 0.2);
}

.top:hover {
  cursor: pointer;
}

.down {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  position: fixed;
  bottom: 545px;
  right: 30px;
  width: 25px;
  height: 25px;
  border-radius: 30%;
  background-color: coral;
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0.6, 0.2);
}

.down:hover {
  cursor: pointer;
}

.audio {
  opacity: 0%;
}
